<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Смена пароля EQup</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>

<body>
    <h1>Сменить пароль для пользователя: </h1><h2 th:text="${name}"></h2>
    <h2 th:text="${message}"></h2>


    <form method="post" action="/api/v1/password_change">

<!--        <label for="id" >id: </label>-->
        <input name="id" type="hidden" th:value="${id}" id="id" >
        <br>

        <label for="password">Новый пароль: </label>
        <input name="password" type="text" id="password">
        <br>
        <label for="password">Повторите новый пароль: </label>
        <input name="password_repeat" type="text" id="password_repeat">
        <br>
        <input type="submit" value="Сменить" >

    </form>
</body>
</html>